Django==6.0.7
dj-database-url==3.1.2
PyMySQL==1.2.0
cryptography==50.0.0
python-decouple==3.8
Pillow==12.3.0
django-bootstrap5==26.2
django-ratelimit==4.1.0
python-magic==0.4.27
redis==8.1.0
polib==1.2.0
gunicorn==23.0.0
