{% load i18n %}
{% get_current_language as LANG %}
{% if page_obj.has_other_pages %}
<nav aria-label="{% translate 'Page navigation' %}">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">{% if LANG == 'ar' %}&raquo;{% else %}&laquo;{% endif %} {% translate "First" %}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% if LANG == 'ar' %}&rsaquo;{% else %}&lsaquo;{% endif %} {% translate "Previous" %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">{% if LANG == 'ar' %}&raquo;{% else %}&laquo;{% endif %} {% translate "First" %}</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">{% if LANG == 'ar' %}&rsaquo;{% else %}&lsaquo;{% endif %} {% translate "Previous" %}</span>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% translate "Next" %} {% if LANG == 'ar' %}&lsaquo;{% else %}&rsaquo;{% endif %}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{% translate "Last" %} {% if LANG == 'ar' %}&laquo;{% else %}&raquo;{% endif %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">{% translate "Next" %} {% if LANG == 'ar' %}&lsaquo;{% else %}&rsaquo;{% endif %}</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">{% translate "Last" %} {% if LANG == 'ar' %}&laquo;{% else %}&raquo;{% endif %}</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
